@model List<Student>

@{
    ViewData["Title"] = "Students Management";
}

<h1>Students Management</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Student ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Grade</th>
                <th>Scores</th>
                <!-- Add more columns if needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@Html.Partial("_FullName", student.User)</td>
                    <td>@student.User.Email</td>
                    @foreach (var grade in student.Grades)
                    {
                        <td>@grade.Grade</td>
                        <td>@grade.Score</td>
                    }
                    <td>
                        <form action="@Url.Action("DeleteUser", "Admin", new { id = @student.UserId })" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }

        .table-bordered thead th,
        .table-bordered thead td {
            border-bottom-width: 2px;
        }

    .table-dark {
        color: #fff;
        background-color: #343a40;
    }

        .table-dark th,
        .table-dark td,
        .table-dark thead th,
        .table-dark tbody + tbody {
            border-color: #454d55;
        }

    .table .thead-dark th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }

    .btn-danger {
        color: #fff;
        background-color: #e74c3c; /* Rose red color */
        border-color: #e74c3c; /* Matching border color */
    }

        .btn-danger:hover {
            background-color: #c0392b; /* Darker shade of rose red on hover */
            border-color: #c0392b; /* Matching border color on hover */
        }

</style>
